.btn-default, .btn-default:focus, .btn-default:active {
  color: #000000;
  background-color: #ffffff;
  border-color: #797979;
}
.btn-default:hover {
  color: #000000;
  background-color: #d5d1d1;
}
.dropdown-toggle.bs-placeholder:focus {
  color: #000000;
  background-color: #ffffff;
}
