* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar > .collapse > .nav > li > a,
.navbar > .navbar-header > a,
.navbar {
  background-color: #333333;
  border-color: #333333;
  color : #ecf0f1;
}
.navbar > .collapse > .nav > li > a:hover,
.navbar > .navbar-header > a:hover {
  background-color: #111;
  color: #ecf0f1;
}

body {
  margin: 0;
  background-color: #b9daa4;
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the content */
.container-fluid {
  padding: 20px;
  background-color: #ecf0f1;
  text-align: center;
  width: 95%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article > .container .input-group {
  padding-bottom: 10px;
  min-width: 100%;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
